<?xml version="1.0"?>
<unity>
  <typeAliases>
    <!--aliases for implementations-->
    <typeAlias alias="ArticleBuilder" type="WebShop.Builders.ArticleBuilder, WebShop.Builders" />
    <typeAlias alias="XmlProvider" type="WebShop.Providers.XmlProvider, WebShop.Providers" />
    <typeAlias alias="BLL" type="WebShop.DAL.BLL, WebShop.DAL" />
    <!--aliases for contracts-->
    <typeAlias alias="IArticleBuilder" type="WebShop.Builders.Contracts.IArticleBuilder, WebShop.Builders" />
    <typeAlias alias="IXmlProvider" type="WebShop.Providers.Contracts.IXmlProvider, WebShop.Providers" />
    <typeAlias alias="IBLL" type="WebShop.DAL.Contracts.IBLL, WebShop.DAL" />
  </typeAliases>
  <!-- Unity Configuration -->
  <containers>
    <container name="main">
      <types>
        <type type="IArticleBuilder" mapTo="ArticleBuilder" />
        <type type="IXmlProvider" mapTo="XmlProvider" />
        <type type="IBLL" mapTo="BLL" />

      </types>
    </container>
  </containers>
</unity>
