<?xml version="1.0"?>
<unity>
  <typeAliases>
    <!--aliases for implementations-->
    <typeAlias alias="ArticleBuilder" type="WebShop.Builders.ArticleBuilder, WebShop.Builders" />
    <typeAlias alias="XmlProvider" type="WebShop.Providers.XmlProvider, WebShop.Providers" />
    <typeAlias alias="BLL" type="WebShop.DAL.BLL, WebShop.DAL" />
    <typeAlias alias="EntityRepository" type="WebShop.DAL.EntityRepository, WebShop.DAL" />
    <!--aliases for contracts-->
    <typeAlias alias="IArticleBuilder" type="WebShop.Builders.Contracts.IArticleBuilder, WebShop.Builders" />
    <typeAlias alias="IXmlProvider" type="WebShop.Providers.Contracts.IXmlProvider, WebShop.Providers" />
    <typeAlias alias="IEntityRepository" type="WebShop.DAL.Contracts.IEntityRepository, WebShop.DAL" />
  </typeAliases>
  <!-- Unity Configuration -->
  <containers>
    <container name="main">
      <types>
        <type type="IArticleBuilder" mapTo="ArticleBuilder" />
        <type type="IXmlProvider" mapTo="XmlProvider" />
        <type type="IEntityRepository" mapTo="EntityRepository" >
          <property name="xmlProvider" dependencyType="IXmlProvider" />
          <property name="articleBuilder" dependencyType="IArticleBuilder" />
        </type>
      </types>
    </container>
  </containers>
</unity>
